{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Grid 1</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

</head>
<body>
    <div class="wrapper">
        <div class="item1"></div>
        <header>
            <h1>header</h1>
            <nav>
                <ul>
                    <li><a href=»#»>Главная</a></li>
                    <li><a href=»#»>Добавить город</a></li>
                    <li><a href=»#»>О нас</a></li>
                </ul>
            </nav>

        </header>
            <article>
                <h2>Города милиардиров</h2>
                <p style="font-size: 20px;line-height: 1.5;" >
                <h2>Нью-Йорк</h2>
<p style="font-size: 20px;line-height: 1.5;" >Нью-Йорк вновь занимает первую строчку рейтинга, сохранив за собой звание мировой столицы миллиардеров. На сегодняшний день в этом городе проживают 110 миллиардеров — на девять больше, чем в прошлом году. На долю двух богатейших жителей города — медиамагната и бывшего мэра города Майкла Блумберга ($106 млрд) и наследницы компании Koch Industries Джулии Кох ($64,3 млрд) — приходится четверть совокупного состояния миллиардеров Нью-Йорка. Нью-Йорк также стал домом восьми новых миллиардеров, включая Жана Мадара ($1,1 млрд), соучредителя французской парфюмерной компании Interparfums, и Ассафа Раппапорта ($1 млрд), соучредителя израильского стартапа Wiz, специализирующегося на обеспечении облачной безопасности.</p>
<hr>
<h2>Москва</h2>

<p style="font-size: 20px;line-height: 1.5;" >Количество миллиардеров: 74 (изменение за год: +12)
<p style="font-size: 20px;line-height: 1.5;" >Совокупное состояние: $378 млрд
Богатейший житель: Вагит Алекперов ($28,6 млрд)
Несмотря на непростую экономическую обстановку, российские миллиардеры увеличили свое состояние на $50 млрд, что позволило Москве переместиться с 6-го на 2-е место в рейтинге. В этом году здесь появилось 12 новых миллиардеров, включая Владимира Мельникова ($1,7 млрд), чей ретейлер в сегменте fast-fashion «Глория Джинс» за последние два года увеличил продажи на 28%, до $875 млн, благодаря тому, что иностранные конкуренты H&M и Zara закрыли в совокупности около 650 магазинов в России.</p>
<p><a href="{% url 'post' slug %}">Читать пост</a></p>
                <hr>
<h2>Гонконг</h2>
<p style="font-size: 20px;line-height: 1.5;" >Количество миллиардеров: 74 (изменение за год: +4)
Совокупное состояние: $326 млрд
Богатейший житель: Ли Ка-Шин ($37,3 млрд)
Гонконг вновь занял второе место в рейтинге, однако разделил его в этом году с Москвой после скромного увеличения числа миллиардеров до 74 человек. Среди его жителей-миллиардеров — восемь новичков, включая соучредителя и гендиректора криптовалютных компаний Tether и Bitfinex Жан-Луи ван дер Вельде ($3,9 млрд) и Солину Чау ($3,1 млрд), чей венчурный фонд Horizons Ventures был одним из первых инвесторов таких технологических компаний, как Facebook (принадлежит Meta, которая признана экстремистской и запрещена в России), Spotify и Zoom.
<p><a href="{% url 'post' slug %}">Читать пост</a></p>

                <hr>
 <h2>Мумбаи</h2>
<p style="font-size: 20px;line-height: 1.5;" >Количество миллиардеров: 69 (изменение за год: +13)
Совокупное состояние: $379 млрд
Богатейший житель: Мукеш Амбани ($116 млрд)
Переместившись на 4-е место рейтинга, богатейшие жители Мумбаи не только увеличили свое состояние в общей сложности на $100 млрд, но и пополнили свои ряды 11 новыми миллиардерами. В городе проживает самый богатый человек Азии Мукеш Амбани ($116 млрд), а также Шапур Мистри ($9,9 млрд), гражданин Ирландии и глава базирующегося в Мумбаи инженерно-строительного гиганта Shapoorji Pallonji Group.
<p><a href="{% url 'post' p.slug %}">Читать пост</a></p>
                <hr>
<h2>Пекин</h2>
<p style="font-size: 20px;line-height: 1.5;" >Количество миллиардеров: 63 (нет изменений за год)
Совокупное состояние: $211 млрд
Богатейший житель: Чжан Имин ($43,4 млрд)
В 2021 году столица Китая занимала первую строчку рейтинга Forbes USA, насчитывая 100 жителей с миллиардным состоянием. С того времени их количество заметно уменьшилось, однако за последний год число миллиардеров остается стабильным — 63 человека. Тем не менее их совокупное состояние упало на 14% на фоне экономических трудностей Китая. Несмотря на непростое положение, в этом году в Пекине появилось два новых миллиардера: Дай Вэньюань ($1,6 млрд), основатель и гендиректор компании 4Paradigm, занимающейся разработкой программного обеспечения для искусственного интеллекта, и Чжэн Фань ($1,5 млрд), независимый директор производителя электромобилей Li Auto, штаб-квартира которого расположена в Пекине.</p>
            </article>
            <aside>
                <h3>Дополнительное меню</h3>
                <ul>
                    <li><a href="#">Глава 1 </a></li>
                    <li><a href="#">Глава 2</a></li>
                </ul>
            </aside>
            <footer>
                <h2>© 2024 Мой Сайт. Все права защищены.</h2>
            </footer>


    </div>
</body>
</html>